.card-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color:black;
    
    
}


.card{
    width: 320px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
   
    
    
    
    }
    .project p{
        padding-right: 100px; 
    }
    
    .project h4{
        font-size: 18px;
        padding-right: 200px;
        margin: 10px;
    }
    
    .project span {
        color: rgb(64, 149, 219);
        margin-left: 170px;
        
    
    }